<%- include("partials/header.ejs") %>
<div class="container text-center my-5">
  <h1 style="color: rgb(0, 255, 0);"> You posts has been create!</h1>

    <p class="lead my-4 mx-5" >
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of Letraset
      sheets containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3">
        <a href="/posts" id="white">Look for Post</a>
      </button>
    </div>
</div>

<%- include("partials/footer.ejs") %>
